.gcloudignore
.git
.gitignore
!include:.gitignore
/.idea
/.vscode
/node_modules/
/playwright-report/
/src/
/test-results/
/tests/
/tests-examples/
.env
.eslintrc.json
.prettierrc
.prettierignore
app.yaml
bun.lockb
components.json
drizzle.config.ts
next-env.d.ts
playwright.config.ts
next.config.js
